.pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
   
  }
  
  .pie-chart-container canvas {
    width: 70% !important; 
    height: auto !important; 
    margin-left: 10%;
  }
  
  .datosProbCirculo{
  display: flex;
  margin-bottom: 7%;
  margin-top: 2%;
  margin-left: -10%;

  }

  .labelProb{
    margin-left: 8%;
  }
  .labelProb input{
    width: 85%;
    border-radius: 10px;
    border-color: var(--main-color-amarillo);
  }
  .botonGrafica{
    border-radius: 10px;
   border-color: var(--main-color-amarillo) ;
    width: 20%;
    margin-top: 6%;
    margin-left: 5%;
  }
  .tituloCirculo{
 margin-left: 20%;
 margin-top: 30%;
  }
  .titulo2Circulo{
    margin-left: 20%;
    margin-top: 20%;
     }